VITE_FUNCTIONS_URL=https://us-central1-quizarau.cloudfunctions.net/api
VITE_FIREBASE_API_KEY=REPLACE_WITH_NEW_KEY
VITE_FIREBASE_AUTH_DOMAIN=quizarau.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=quizarau
VITE_FIREBASE_STORAGE_BUCKET=quizarau.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=878014863769
VITE_FIREBASE_APP_ID=1:878014863769:web:7543a0d742dd0f69f35b08
